{{#each foo}}
{{this}}
{{/each}}
<h3>Step 1. Add Task:</h3>
<form id="addTask" action="/tasklist" method="post">
    taskDetails:    <input type="text" name="taskDetails" value = "add new task here"><br>
    <input type="submit" value="Submit">    
</form>
<br/>

{{!-- displays TaskList Database --}}
<br>
<h3>Step 2. View TaskList Database:</h3>
<table class="table table-striped">
    <thead> 
        <th>taskID</th> 
        <th>taskDetails</th> 
    </thead> 
    <tbody>
        {{#each tasklist}} 
        <tr> 
            <td>{{id}}</td>
            <td>{{taskDetails}}</td> 
            <td><button onclick="deleteTask({{id}})">Delete</button></td>              
            <td><a href="/tasklist/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 